<template>
    <div>
        <input type="text" name="search" value="" v-model.lazy.trim="search"><br>
		<table class="table table-dark">
			<tr v-for="item in students"  v-bind:key="item._id"> 
				<td>{{item.name}}</td><td><input type="checkbox" v-bind:checked="item.isDonePr"></td><td>{{item.group}}</td><td><a href = "#" @click="deleteStudent(item.id)">Видалити</a></td>
			</tr>
		</table>

			<input v-model="student.name">
			<input type="checkbox" v-model="student.isDonePr">
			<select v-model="student.group">
				<option value="RPZ 17 1/9">RPZ 17 1/9</option>
				<option value="RPZ 17 2/9">RPZ 17 2/9</option>
			</select>
			<button @click="addStudent()">Add student</button>
    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'




     


export default {
    data: {
         students: [],
         search:'',
         student: {"name": "", isDonePr: false, group: ""}
     },	 
     mounted: function(){
         console.log(this);
         axios.get("http://46.101.212.195:3000/students").then((response)=>{
             console.log(response.data)
             this.students =response.data
         })
     
     },
     methods: {
        deleteStudent(studId) {
            this.students = this.students.filter(elem => {
                return elem.id != studId;
            });
        },
        addStudent() {
            this.student.id = this.students.length+1;
            this.students.push(this.student);
        }
     },
  
 
}
</script>
<style scoped>

</style>